 Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021.
Employees’ names in

list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha.

 List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita.

 Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
list1=["Ramesh","Suresh", "Mahesh", "Ali", "Jacob","Saritha"]
list2=["Ali","Mahesh","Jacob","Sai","Sarita"]
common_employees=[]
for employee in list1:
  if employee in list2:
    common_employees.append(employee)
print(common_employees)                       # it doesn't print saritha because spelling change saritha in list 1 and list2

['Mahesh', 'Ali', 'Jacob']

In [ ]:
# by using intersection
list1=["Ramesh","Suresh", "Mahesh", "Ali", "Jacob","Saritha"]
list2=["Ali","Mahesh","Jacob","Sai","Sarita"]
# first you need to convert list into set
set1=set(list1).intersection(set(list2))
set1
list(set1)

['Ali', 'Mahesh', 'Jacob']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.

Ramesh: 25

Suresh: 22

Mohit: 26

In [ ]:
given = "Ramesh Suresh Mohit "
lst=[]                                    #to store the names and age together
                                          # Split the string into a list of names
list1 = given.split()
print(list1)
                                          # Define scores of student
list2 = [25,22,26]
                                          # combine two lists together we are using zip function
list_age = dict(zip(list1, list2))
print(list_age)                           # here we are getting output as dictionary
                                         # here i am converting dictionary to list
lst = list(list_age.items())
print(lst)
print("sum of ages",sum(list2))

['Ramesh', 'Suresh', 'Mohit']
{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}
[('Ramesh', 25), ('Suresh', 22), ('Mohit', 26)]
sum of ages 73

In [ ]:
# using for loop
name_string = "Ramesh Suresh Mohit"

name_list = name_string.split()  # Split the string by whitespace
print(list(name_list))

ages = {'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

name_list_age= []

for name in name_list:
    if name in ages:
        age = ages[name]
        name_list_age.append((name, age))

print(name_list_age)
# In the above program, the names list contains the names obtained from the previous step.
# The ages dictionary stores the ages for each name. The program iterates over each name in the names list and checks if it exists as a key in the ages dictionary.
# If a matching name is found, its age is retrieved from the ages dictionary and added as a pair (name, age) to the name_age_pairs list.

['Ramesh', 'Suresh', 'Mohit']
[('Ramesh', 25), ('Suresh', 22), ('Mohit', 26)]

Q3: You are working in a medical store.
 A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient

In [ ]:
paracetamol_price = int(input(""))
azithromycin_price = int(input(""))
vitamin_c_price = int(input(""))
                                           # if user want input
paracetamol_quantity = int(input(""))
azithromycin_quantity = int(input(""))
vitamin_c_quantity = int(input(""))

total_cost_paracetamol = paracetamol_price * paracetamol_quantity
total_cost_azithromycin = azithromycin_price * azithromycin_quantity
total_cost_vitamin_c = vitamin_c_price * vitamin_c_quantity

total_cost_all_medicines = (
    total_cost_paracetamol + total_cost_azithromycin + total_cost_vitamin_c
)

patient_payment = int(input(""))

refund_amount = patient_payment - total_cost_all_medicines

print("Total cost of Paracetamol: Rs", total_cost_paracetamol)
print("Total cost of Azithromycin: Rs", total_cost_azithromycin)
print("Total cost of Vitamin C: Rs", total_cost_vitamin_c)
print("Total cost of all medicines: Rs", total_cost_all_medicines)
print("Refund amount: Rs", refund_amount)

35
49
33
2
3
5
2000
Total cost of Paracetamol: Rs 70
Total cost of Azithromycin: Rs 147
Total cost of Vitamin C: Rs 165
Total cost of all medicines: Rs 382
Refund amount: Rs 1618

In [ ]:
paracetamol_price = 35
azithromycin_price = 49       # hardcoding
vitamin_c_price = 33

paracetamol_quantity = 2
azithromycin_quantity = 3
vitamin_c_quantity = 5

total_cost_paracetamol = paracetamol_price * paracetamol_quantity
total_cost_azithromycin = azithromycin_price * azithromycin_quantity
total_cost_vitamin_c = vitamin_c_price * vitamin_c_quantity

total_cost_all_medicines = (
    total_cost_paracetamol + total_cost_azithromycin + total_cost_vitamin_c
)

patient_payment = 2000

refund_amount = patient_payment - total_cost_all_medicines

print("Total cost of Paracetamol: Rs", total_cost_paracetamol)
print("Total cost of Azithromycin: Rs", total_cost_azithromycin)
print("Total cost of Vitamin C: Rs", total_cost_vitamin_c)
print("Total cost of all medicines: Rs", total_cost_all_medicines)
print("Refund amount: Rs", refund_amount)

Total cost of Paracetamol: Rs 70
Total cost of Azithromycin: Rs 147
Total cost of Vitamin C: Rs 165
Total cost of all medicines: Rs 382
Refund amount: Rs 1618

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks.

For example, I am learning python contains 6 vowels.
This function should be applicable for all other different sentences.

In [ ]:
                                           # Get the input sentence from the user
sentence = input("Enter a sentence: ")

                                            # Define the  vowels
vowels = 'aeiouAEIOU'

                                            # Initialize a counter for the number of vowels
num_vowels = 0

                                            # Loop through each character in the sentence
for char in sentence:                       # here we are giving input in sentence

                                            # If the character is a vowel, increment the vowel counter
    if char in vowels:
        num_vowels += 1   # here for 1st iteration 0+=1=1 that 1 ia stored in num_vowels,2nd iteration 1+=1=2,3rd(m)=2+=0=2,then 4th iteration (l)=2,5th iteration e so 2+=1=3,....

# Print the number of vowels in the sentence
print("Number of vowels in the sentence:", num_vowels)

Enter a sentence: I am learning python
Number of vowels in the sentence: 6

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.


For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [ ]:
age=int(input(" "))
if  age>=18:
  print('Congrats! You are eligible')
else:
   years_to_wait= 18 - age
   print('return after 3 years')

 15
return after 3 years


Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.


A = [1, 2, 3, 4, 5]


Output:

[1, 3, 6, 10, 15]

In [ ]:
a=[1, 2, 3, 4, 5]
cumulative_sum = []
current_sum = 0
for num in a:
        current_sum += num  # here what happens for first iteration 1 that is 0+=1 that gives 1 2nd iteration 1+=2 that is 3,3rd iteration we have current_Sum=3 so 3+=3=6,6+=4=10,next=15
        cumulative_sum.append(current_sum)
print(cumulative_sum)

[1, 3, 6, 10, 15]

Q7:

WAP to encode a message entered by user as per below conditions:



for every word in the sentence,

1. If the word starts with a vowel, encode it as first and last letter of the word.

2. If the word starts with a consonant, remove all vowels from it.



Ensure the case insensitive comparisions/checks are performed.



Please enter your text:The quick brown fox used to sleep inside this box

Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [ ]:
sentence = input("Please enter your text: ")
vowels = 'aeiouAEIOU'
encoded_words = []
words = sentence.split()
for word in words:
    if word[0] in vowels:
      # encode the word as the first & last letter
        encoded_words.append(word[0] + word[-1])
    else:
      # remove vowels from the word
        encoded_word = ""                  # here the means starts with consonent so we are giving empty string so it searches char by char first t,h,e
        for char in word:
          if char not in vowels:           # here t,h are consonants here we are getting th in char in 1st iteration so
            encoded_word=encoded_word+char
        encoded_words.append(encoded_word)     # adding the consonants only "th"
# here i am joining words back in to sentence
encoded_sentence = " ".join(encoded_words)
# here i am printing the encoded sentence
print("encoded sentence:",encoded_sentence)

Please enter your text: The quick brown fox used to sleep inside this box
encoded sentence: Th qck brwn fx ud t slp ie ths bx


Q8:

Write a program to implement run length encoding of a string



RLE:Consecutive repetition of a character has to be replaced with the count of occurances and the character.



Enter your string :aabbbccdddae

Encoded: 2a3b2c3d1a1e

In [ ]:
string=input("")
encoded_string = ""
count = 1
n = len(string)
for char in range(1, n):     # here range we are getting (1,12) that is the length of the string we are getting
  if string[char] == string[char-1]:        # here it compares particular index with the previous index
    count += 1                               # if the index matches it add's 1
  else:
    encoded_string += str(count) + string[char-1]   # count of char plus previous char 2a,2b,2c...like that
    count = 1

encoded_string += str(count) + string[n-1]        # Add the encoding for the last character count 1+e(12-1=11th index) here

print(encoded_string)

aabbbccdddae
2a3b2c3d1a1e